##선택 구조의 활용

112p. 실습1

In [1]:
n = int(input('입력: '))
if n >= 80:
  print('합격')

입력: 85
합격

112p. 실습2

In [2]:
n = int(input('점수 입력: '))
if n >= 80:
  print('합격')
else:
  print('불합격')

점수 입력: 75
불합격

113p. 실습3

In [3]:
n = int(input('입력: '))
if n >= 80:
  print('합격')
elif n < 80 and n >= 60:
  print('재시험')
else:
  print('불합격')

입력: 75
재시험

114p. 실습4

In [4]:
n = int(input('입력: '))
if n >= 0:
  if n> 0:
    print('양수')
  else:
    print('0')
else:
  print('음수')

입력: -5
음수

##반복 구조의 활용

###for문

116p. 실습5

In [6]:
for i in [1, 5, 3, 10]:
  print(i)

1
5
3
10

116p. 실습6

In [7]:
animal = ['강아지', '고양이', '코끼리', '기린']
for i in animal:
  print(i)

강아지
고양이
코끼리
기린

117p. 실습7

In [8]:
for i in range(3):
  print(i)

0
1
2

118p. 실습8

In [9]:
for i in range(1, 3):
  print(i)

1
2

118p. 실습9

In [10]:
for i in range(5, 0, -2):
  print(i)

5
3
1

###while문

118p. 실습10

In [11]:
n = 1
while n < 4:
  print(n)
  n = n + 1

1
2
3

###중첩 반복 구조

119p. 실습11 프로그램1

In [14]:
#for 활용
for i in range(1, 4, 1):
  for j in range(1, i+1, 1):
    print(j, end=' ')
  print('') #1줄 출력 후 줄바꿈

1
1 2
1 2 3

In [19]:
#while 활용
i = 1
j = 1
while i <= 3:
  while j <= i:
    print(j, end=' ')
    j = j + 1
  print('')
  i = i + 1
  j = 1

1
1 2
1 2 3

##데이터 구조의 활용

120p. 실습12

In [22]:
s = ['김00', '남', '1학년', 85, 90]
for i in range(0, 5):
  print(s[i], end=' ')
print('')

print(s[2])

김00 남 1학년 85 90
1학년

##다차원 데이터 구조의 활용

121p. 실습13

In [23]:
s = [['김00', '남', '1학년', 85, 90],\
     ['이00', '여', '2학년', 75, 100],\
     ['박00', '여', '1학년', 90, 70],\
     ['정00', '여', '1학년', 65, 80],\
     ['한00', '남', '2학년', 95, 75]]

#2차원 리스트의 모든 값 출력하기
for i in range(0, 5):
  for j in range(0, 5):
    print(s[i][j], end=' ')
  print('')

#2차원 리스트의 특정 값 출력하기
print(s[3][4])

김00 남 1학년 85 90
이00 여 2학년 75 100
박00 여 1학년 90 70
정00 여 1학년 65 80
한00 남 2학년 95 75
80