1. result라는 이름의 2차원 리스트를 만들고, 조사한 설문 결과를 저장해 보자.

In [1]:
result = [['제육볶음', '생선구이', '스파게티', '돈가스'], [42, 23, 77, 58]]

2. 설문 조사에 참가한 학생 수의 합을 구해 보자.

In [2]:
sum = 0
for i in range(4):
  sum = sum + result[1][i]
print(sum)

200

3. 설문 조사 투표 수가 50 이상인 메뉴를 출력해 보자.

In [3]:
for i in range(4):
  if result[1][i] >= 50:
    print(result[0][i])

스파게티
돈가스