##객체 지향 실습

###클래스 생성

127p. 실습1

In [1]:
class Students:
  def __init__(self, name, informatics, math):
    self.name = name
    self.informatics = informatics
    self.math = math

  def sum(self):
    return self.informatics + self.math

  def avg(self):
    return self.sum() / 2

  def string(self):
    return '{}\t{}'.format(self.name, self.avg()).format(self.name, self.avg())

128p. 실습2

In [2]:
students = [
    Students('김00', 88, 90),
    Students('정00', 73, 65),
    Students('한00', 63, 77)
]

128p. 실습3

In [4]:
print('김00의 정보 성적')
print(students[0].informatics)

김00의 정보 성적
88

129p. 실습4

In [5]:
print('이름', '평균', sep='\t')
for i in students:
  print(i.string())

이름	평균
김00	89.0
정00	69.0
한00	70.0

129p. 알고가기

In [9]:
print('인스턴스 확인 결과: ', isinstance(students[0], Students))

인스턴스 확인 결과:  True