### 2번

In [ ]:
a = float(input('입력1: '))
b = int(input('입력2: '))
print(a * b)

입력1: 10
입력2: 2
20.0

### 3번

In [ ]:
n = int(input('정수를 입력하세요:'))
if ㉠  :
   print('홀수')
else:
   print('짝수')

정수를 입력하세요:11
짝수

### 4번

In [ ]:
print('재미' * 3)
print('있는 ' + '파이썬 ' + '프로그래밍')

재미재미재미
있는 파이썬 프로그래밍

### 5번

In [ ]:
for i in range(3, 10, 3):
   print(i)

3
6
9

### 6~7번

In [ ]:
s = [['강OO', '남', 75, 80],\
['송OO', '여', 85, 95],\
['하OO', '여', 70, 80],\
['진OO', '여', 90, 60]]

# 2차원 리스트의 모든 값 출력하기
for i in range(0, 4):   # 1행~4행까지 출력
    for j in range(0, 4):   # 1열~4열까지 출력
        # 각 리스트의 값 출력
        print(   ㉠  ,    end = ' ')
    print() # 줄 바꿈

# 2차원 리스트의 특정 값 출력하기
print(s[3][2])  ------ ㉡

강OO 남 75 80
송OO 여 85 95
하OO 여 70 80
진OO 여 90 60
90